* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
    min-height: 100%;
    background: #1e2831;
    background: linear-gradient( to top right, #1e2831, #25313a, #384d58 );
    background: -o-linear-gradient(top right, #1e2831, #25313a, #384d58 );
    background: -moz-linear-gradient(top right, #1e2831, #25313a, #384d58 );
    background: linear-gradient(to top right, #1e2831, #25313a, #384d58 );
    font-size: 13px;
}

body {
  font-family: 'Roboto', sans-serif;
   /*background: #1e2831;
   background: linear-gradient( to top right, #1e2831, #25313a, #384d58 );
   background: -o-linear-gradient(top right, #1e2831, #25313a, #384d58 );
   background: -moz-linear-gradient(top right, #1e2831, #25313a, #384d58 );
   background: linear-gradient(to top right, #1e2831, #25313a, #384d58 );
  font-size: 13px;*/
  /*height: 100%;*/
}


header {
    padding: 10px 0 40px;
}

header a {
    text-decoration: none;
}

h1 {
    padding: 30px 280px 20px;
    font-weight: 100;
    font-size: 35px;
    cursor: pointer;
    color: #F4F6F0;
}

.search-bar {
    max-width: 70%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 0;
}

input.search-input {
    padding: 10px 15px;
    font-size: 18px;
    flex: 7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #cecece;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

button.search-button {
    height: 100%;
    border: none;
    flex: 1;
    background-color: #00838F;
    color: #fff;
    border-radius: 0;
    font-size: 18px;
    padding: 11px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

button.search-button:hover {
    background-color: #25313a;
}


.main-content {
    max-width: 60%;
    height: 100%;
    margin: 100px auto;
    border-radius: 5px;
    /*border: 1px solid #cecece;*/
    /*background-color: #e9ecef;*/
    position: relative;
}

.movie-row {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 50px;
}

.movie-container {
    width: 28%;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

img.movie-poster {
    max-width: 380px;
    max-height: 250px;
    margin: 20px 0 15px;
}

.movie-details {
    width: 65%;
    margin: 0 auto;
    text-align: left;
}

.movie-details h2.movie-title,
.no-search-result h2 {
    font-weight: 200;
    font-size: 15px;
    color: #F4F6F0;
}

.movie-details p {
    padding: 10px 0;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 13px;
    color: #9aa3a9;

}

.disabled {
    cursor: default;
    background-color: inherit;
}

.no-search-result {
    width: 400px;
    margin: 20px auto;
    text-align: center;
}

.no-search-result h2.no-result-message {
    font-size: 20px;
    padding: 20px;
    color: #9aa3a9;
    letter-spacing: 1px;
}

.loading {
    position: absolute;

}
